

.carrousel {
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    background-image: url(../fondo_carrousel.jpg);
    background-size: cover;
}

.uls {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

.miembros {
    display: flex;
    align-items: center;
    justify-content: center;
}
