.imgContainer > li {
    list-style-type: none;
}

.imgContainer > li > img {
    height: 5rem;
}

.carrousel {
    height: 60rem;
    display: flex;
    justify-content: center;
    z-index: 1;
    background-image: url(https://images.wallpaperscraft.com/image/single/bamboo_forest_trees_121389_3840x2160.jpg);
    background-size: cover;
}

.uls {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

.miembros {
    display: flex;
    align-items: center;
    justify-content: center;
}
