.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    height: 50rem;
    width: 0vw;
}

.carousel-container > img {
    width: 50vw;
    max-height: 55rem;
    border-radius: 2rem;
}

.button-container {
    display: flex;
}
