* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

@media screen and (min-width: 851px) {

header {
  width: 99.1vw;
}

.article1 {
  font-size: 18px;
  height: 3rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(86, 131, 101);
  overflow-x: hidden;
}
.nav1 {
  display: flex;
  gap: 5rem;
  margin-left: 25%;
}

.link1 {
  color: aliceblue;
}

.link1:hover {
  border-bottom: 1px solid white;
}

#language {
  border-radius: 1rem;
  height: 1.5rem;
}

#language:hover {
  height: 2rem;
}

.article1_input {
  position: relative;
  left: 8%;
}

.article1_label {
  position: relative;
  left: 9%;
}

.article1 > button {
  margin-left: 15%;
}

.article2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: aliceblue;
  border-bottom: 2px solid black;
}

.link2 {
  color: black;
}

.link2_container {
  height:5rem;
  display: flex;
  align-items: center;
}

.link2_container:hover {
  border-bottom: 4px solid green;
}

.nav2 {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.logo > img{
  height: 7.9rem;
  position: absolute;
  top: 0;
  left: 8rem;
}

footer {
  margin-top: 5rem;
  height: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(86, 131, 101);
}
}
@media screen and ( max-width: 850px) {

  .article1 {
    height: 10rem;
    background-color: rgb(86, 131, 101);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link1 {
    display: none;
    }

  .article1_label, .article1_input {
    display: none;
  }
  
  .article1 > button {
    display: flex;
    height: 8rem;
    width: 5rem;
    margin-left: 75%;
    align-items: center;
    justify-content: center;
  }

  #language {
    display: none;
  }

  .logo > img {
    height: 8rem;
    position: fixed;
    top: 2%;
    left: 2%;
  }

  .article2 {
    height: 30.2vh;
    background-color: rgb(224, 224, 224);
    border: 2px solid black;
    margin-top: 00vh;
  }

  .nav2 {
    width: 100%;
    margin-left: 0;
    background-color: rgb(224, 224, 224);
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .article2.show {
    margin-top: 0;
  }

  main {
    margin-top: 10vh;
  }

}